@model NewThreadData

<form asp-controller="Thread" asp-action="CreateNewThread" asp-route-themeId="@Model.ThemeId" method="post">
    <label>Crear nuevo hilo</label>
    <div>
        <label> Titulo del hilo</label>
        <input type="text" id="title" name="Title" />
    </div>

    <div>
        <label> Mensaje</label>
        <input type="text" id="messageContent" name="MessageContent" />
    </div>

    <div>
        <button type="submit">Crear nuevo hilo</button>
    </div>
</form>