a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none !important;
    color: inherit;
}

/* General container styles */
#theme-container {
    min-height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

    #theme-container > #theme-header {
        padding: 24px;
        border-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

#theme-header {
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Flex container for header */
.header-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
}

.new-thread-button {
    /* Sizing and dimensions */
    height: 46px;
    max-width: 250px;
    padding: 12px 24px;
    border-radius: 32px;

    /* Typography */
    font-size: 0.75rem; /* Smaller font size for compact text */
    text-transform: uppercase; /* Make text uppercase */
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    /* Colors and background */
    background: #FD5D4D; /* Button background color */
    color: white; /* Text color */
    border: 1px solid #FD5D4D; /* Match border to background color */

    /* Interactivity */
    cursor: pointer;
    transition: all 0.2s; /* Smooth transition for hover effects */

    /* Layout */
    display: block; /* Ensure button behaves as a block element */
    text-decoration: none; /* Remove underline from text links */
}

/* Button text styles */
.inner-buttom-text {
    font-weight: bold;
}

/* Thread item container */
.thread-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Asegura que el padding no desborde el contenedor */
    border-radius: 8px;
}

/* Thread details container */
.thread-details {
    display: flex;
    flex: 7;
    flex-direction: column;
    padding: 10px;
}

/* Thread title */
.thread-title {
    font-size: 1rem;
    margin-top: 6px;
    font-weight: bold;
    color: black;
}

/* Thread metadata container */
.thread-metadata {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.thread-metadata-text {
    color: black;
}

.message-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.total-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    color: #a4a4a4;
    min-width: 34px;
    text-align: right;
    margin-left: 3px;
}

.mesagge-counter{
    color: lightgray;
    font-size: large;
}
