@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
@if (Model.Errors.Any())
{
    foreach (var error in Model.Errors)
    {
        <h2 class="text-danger">@error</h2>
    }
}
else
{
    <h2 class="text-danger">Ocurrio un error al procesar tu petición.</h2>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de la petición:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="back-home-button">
    <a asp-controller="Home" asp-action="Index">
        Volver a la pagina principal
    </a>
</div>
