@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="home-container">
    <h1>Temas</h1>
    <div id="themes-list">
        @foreach (var theme in Model.Themes)
        {
            <div class="theme-details">
                <a style="display: block; text-decoration: none" asp-controller="Theme" asp-action="Index" asp-route-id="@theme.Id">
                    <div class="theme">
                        <div class="theme-title">
                            <h2 class="theme-title-bold">@theme.Name</h2>
                        </div>
                        <div class="theme-description">@theme.Description</div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
